.logo {
  width: 20px;
  height: 20px;
}
.logoLabel {
  margin-right: 10px;
  font-weight: 600;
}
.logoLabel .logoFirst {
  color: rgb(170, 4, 4);
}
.logoSpace {
}
.logoLabelLight {
  margin-right: 10px;
  font-weight: 600;
  color: #fff;
}
.logoLabelLight .logoFirstLight {
  color: rgb(216, 25, 25);
}
.logoLight {
  width: 25px;
  height: 25px;
  filter: invert(1);
}
