.parent {
}
.logo .logoimg {
  width: 60px;
  height: auto;
}
.logo {
  position: fixed;
  display: flex;
  text-shadow: #ff0000;
  top: 0;
  color: #ffffff;
}
.logo .logotext {
  margin-top: 10px;
}
.bgimg {
  position: fixed;
  top: 0;
  left: 0;
}
.midcard {
  margin: 0;
  position: absolute;
  max-width: 700px;
  min-width: 300px;
  top: 50%;

  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.sendButton {
  margin-top: 25px;
}
.inputs * {
  display: flex !important;
}

.inputs {
  margin: 15px 2px 0px 2px !important;
}
.inputs input {
  background: none !important;
  border: none !important;
}
.otpbox {
  text-align: center !important;
}

.inputs .PhoneInput {
  display: flex !important;
}
.otpinput {
  display: inline-flex !important;
  align-self: center;
}
.otpinput input {
  width: 3rem !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid #104a8b !important;
  background-color: #cccccc22 !important;
}
.otpinputerror input {
  width: 3rem !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 2px solid #ff0000 !important;
  background-color: #cccccc22 !important;
}
.googleButton {
  width: 100% !important;
  margin-top: 15px !important;
}
.sendCodeButton {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  width: 100% !important;
}

.verifyButton {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  width: 100% !important;
}
